* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

header {
    width: 100%;
    padding: 8px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 2px solid grey; */
    box-shadow: 0 1px 5px rgb(211, 211, 211);
}
header h1 {
    font-size: 30px;
}
.btn {
    padding: 10px 0;
    background-color: rgb(98, 50, 255);
    border: none;
    display: inline-block;
    text-align: center;
    width: 150px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover, input[type='submit']:hover {
    background-color: rgb(69, 12, 255);
    color: white;
}
.btn:active, input[type='submit']:active {
    transform: scale(0.98);
}

section {
    padding: 20px 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
}
#list, #delete {
    justify-content: flex-start;
}
section h1 {
    text-align: center;
    font-size: 25px;
}
section .notes-container {
    margin-top: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 15px;
}
section .notes-container .note {
    padding: 15px;
    cursor: pointer;
}
section .notes-container .note:nth-child(3n) {
    background-color: rgb(255, 204, 213);
}
section .notes-container .note:nth-child(3n-1) {
    background-color: rgb(213, 220, 255);
}
section .notes-container .note:nth-child(3n-2) {
    background-color: rgb(199, 255, 199);
}
section .notes-container .note:hover {
    box-shadow: 0px 0px 5px rgb(81, 81, 81) ;

}
section .notes-container .note .title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}
section .notes-container .note .description {
    margin: 10px 0;font-size: 17px;
}
section .notes-container .note img {
    height: 27px;
    width: 27px;
    transition: 0.5s;
    padding:4px;
    border-radius: 4px;
}
section .notes-container .note img:hover {
    background-color: rgb(198, 198, 198);
}
section .notes-container .note img:active {
    background-color: transparent;
}
section form {
    padding: 15px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 0 2px black;
}
section form h1{
    margin-bottom: 20px;
}
section form input, textarea{
    width: 100%;
    margin: 10px 0;
    outline: none;
    border: 2px solid black;
    border-radius: 2px;
    padding: 7px 15px;
    background-color: transparent;
    font-size: 17px;
}
section form input[type='submit'] {
    border: none;
    background-color: rgb(98, 50, 255);
    padding: 10px 0;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
section .confirm-box {
    padding: 15px;
    position: relative;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 2px black;
}
section .confirm-box p {
    margin: 15px 0 25px;
    font-size: 18px;
}
section .confirm-box div {
    display: flex;
    justify-content: flex-end;
}
section .confirm-box .btn {
    margin-left: 15px;
}
section .confirm-box .cancel {
    background-color: rgb(210, 210, 210);
}
section .confirm-box .cancel:hover {
    background-color: rgb(169, 169, 169);
    
}
section .confirm-box .delete {
    background-color: red;
}
section .confirm-box .delete:hover {
    background-color: rgb(216, 0, 0);
}

@media all and (max-width:900px) {
    section {
        padding: 20px;
    }
    header {
        padding: 8px 20px;
    }
}
@media all and (max-width:900px) {
    header h1 {
        font-size: 25px;
    }
    header .btn {
        padding: 7px 0;
        width: 120px;
        font-size: 16.5px;
    }
    section .notes-container .note .title {
        font-size: 18px;
    }
    section .notes-container .note .description {
        font-size: 16px;
    }
    section .notes-container .note img {
        height: 24px;
        width: 24px;
    }
}